html,
body {
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title {
    text-align: center;
}

#addedResult, #unaddedResult {
    text-align: center;
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
}

.roll-card {
    background-image: url("./../images/starboarder.jpg");
    background-size: 100%;
    color: white;
    
    border-radius: 5px;
}


.low {
    color: red;
}

.high {
    color: green;
}


#abox {
    margin-top: 10px;
}

.btn {
    width: 100%;
    margin-top:10px;
    padding-left: 2px;
    padding-right: 2px;
}

#roll {
    margin-top: 10px;
}

.enter {
    margin-top: 10px;
}

.image-card {
    height: 100%;
}

#d20image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}