html,
body {
    background-color: lightblue;
}

#title {
    text-align: center;
}

#addedResult, #unaddedResult {
    text-align: center;
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
}

.roll-card {
    background-image: url("./../images/starboarder.jpg");
    background-size: 100%;
    color: white;
}

.low {
    color: red;
}

.high {
    color: green;
}



.btn {
    width: 100%;
    margin-bottom:10px;
    padding-left: 2px;
    padding-right: 2px;
}

.enter {
    margin-top: 10px;
}

.image-card {
    height: 100%;
}

#d20image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}